/**
 * CONTENIDOS
 *
 * FRAMEWORKS
 * normalize.css................Estandariza los estilos.
 * animate.css..................Colección de animaciones.
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 *
 * COMPONENTES
 * .content.....................Contenedor principal.
 *
 * MODULES
 * #main-header.............Contenedor del video del landing page y sus elementos.
 */

// frameworks imports
@import 'frameworks/normalize'
//@import 'frameworks/animate.css'

// Base imports
@import 'base/_fonts'
@import 'base/_base'
@import 'base/_base_mixins'
@import 'base/_base_variables'


// -------------------
// #MAIN-HEADER
// -------------------

#main-header {
    height 100vh
    overflow hidden
    position relative
    width 100%
    #main-header__bg {
        height 100vh
        position relative
        width 100%
        img {
            height 100%
            position fixed
            top 0px
            left 50%
            transform translate(-50%, 0)
            z-index -1
            @media only screen and (min-device-width : 320px) and (orientation : landscape) {
                height auto
                width 120%
            }
        }
        video {
            position fixed !important
        }
    }
    .main-header__overlayed-bg {
        position absolute
        top 0px
        left 0px
        height 100%
        width 100%
        background rgba(black,.2) url(../img/pattern.png)
        z-index 0
    }
    .main-header__lr-logo {
        position absolute
        top 0px
        left 0px
        width 50%
        max-width 300px
        z-index 1
        @media only screen and (min-device-width : 320px) and (orientation : landscape) {
            width 40%
        }
    }
    .main-header__title {
        color white
        position absolute
        top 0px
        left 0px
        margin auto
        font-size responsive 30px 50px
        font-range 320px 1280px
        font-weight 300
        text-align center
        text-shadow 0px 1px 1px black
        width 100%
    }
}

.page-content {
    height 1000px
    background blue
}




















