/** TABLA DE CONTENIDOS
 *
 * FRAMEWORKS
 * animate.css..................Colección de animaciones.
 * foundation.css...............Responsive framework, incluye normalize.css
 * plyr.css.....................Estilos para reproductores de video
 * photoswipe.css...............Estilos para la galeria de imagenes
 * owl.carousel.css.............Estilos para la galeria de videos
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 *
 * SECCIONES
 * inicio.......................Contiene los estilos de la seccion inicio
 * home-party...................Contiene los estilos de la seccion home-party
 * party-cocktails..............Contiene los estilos de la seccion party-cocktails
 *
 * - Comun
 * .contacto....................Seccion de contacto
 * .section-intro...............Intro de informacion sobre el servicio
 * .page-foter..................Footer principal de la pagina
 *
 * COMPONENTES
 * .main-nav-header.............Menu de navegacion principal del sitio
 * .frase-animada...............Frase que introduce una seccion con animacion
 * .section-header..............Header para secciones secundarias
 * .servicio....................Componente que define un servicio en la navegacion de servicios
 * .servicio-content-item.......Item que describe lo que incluye cada servicio
 * .fundador....................Componente para la seccion de about donde se muestra la informacion del fundador
 * .contacto__item..............Componente medio de contacto
 * .contact-form................Formulario de la seccion de contacto
 * .contacto-social.............Contenedor de logos de redes sociales
 * .buttons.....................Estilos generales para botones que usa la pagina
 * .owl-controls................Estilos para los controles de owl-carousel
 * .pagination-controls.........Estilos para los controles de la paginacion
 */

// - Frameworks imports
@import 'frameworks/foundation-flex.css'
@import 'frameworks/animate.css'
@import 'frameworks/plyr.css'
@import 'frameworks/photoswipe.css'
@import 'frameworks/photoswipe-default-skin.css'
@import 'frameworks/owl.carousel.css'

// - Base imports
@import 'base/_fonts'
@import 'base/_base_variables'
@import 'base/_base_mixins'
@import 'base/_base_animations'
@import 'base/_base'

// - Section imports
@import 'secciones/inicio.styl'
@import 'secciones/home-party'
@import 'secciones/party-cocktail'

// - Component imports
@import 'componentes/main-nav-header'
@import 'componentes/frase-animada'
@import 'componentes/servicio'
@import 'componentes/album'
@import 'componentes/contact-form'
@import 'componentes/fundador'
@import 'componentes/section-header'
@import 'componentes/servicio-content-item'
@import 'componentes/buttons'
@import 'componentes/owl-controls'
@import 'componentes/pagination-controls'



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content {
    width 100%
}



// -------------------
// @SECTION-INTRO
// -------------------

.section-intro {
    background white url('img/agsquare_@2X.png')
    min-height 80vh
    .section-intro__logo {
        display block
        margin auto
        margin-bottom 20px
        padding-left 0.625rem
        padding-right 0.625rem
        width 100%
        max-width 400px
        @media screen and (min-width: 40em) {
            margin-bottom 40px
        }
    }
    .section-intro__txt {
        text-align center
        width 70%
        margin auto
    }
}



// -------------------
// @CONTACTO
// -------------------

.contacto {
    background white url('img/assets/square_bg_@2X.png')
    background-color white
    text-align center
    .row {
        margin 0
    }
    .contacto__titulo {
        @media screen and (min-width: 40em) {
            margin-bottom 1rem
        }
        @media screen and (min-width: 64em) {
            margin-bottom 4rem
        }
    }
    .contacto__normal-text{
        padding 20px 0
        @media screen and (min-width: 40em) {
            padding 1.5rem 0
        }
        @media screen and (min-width: 64em) {
            padding 1rem 0
        }
    }
    .contacto__item {
        padding 10px 0
        h2 {
            color $green-logo
            font-weight 400
        }
        @media screen and (min-width: 64em) {
            padding 1rem 0
        }
    }
    .contacto__social {
        justify-content center
        padding 10px 0
        > div {
            flex none
        }
        img {
            border-radius 50%
            max-width 60px
            transition 0.3s background-color ease-in
            &[src*=facebook]:hover {
                background-color #3B5998
            }
            &[src*=twitter]:hover {
                background-color #55ACEE
            }
            &[src*=instagram]:hover {
                background-color #125688
            }
        }
    }
    .contact-form {
        margin-top 2rem
        @media screen and (min-width: 40em) {
            margin-top 3rem
        }
        @media screen and (min-width: 64em) {
            margin-top 0
        }
    }
}



// -------------------
// @PAGE-FOOTER
// -------------------

.page-footer {
    color white
    background-image url(img/assets/footer.png)
    padding 20px 10px
    text-align center
    .page-footer__logo {
        width 100px
    }
    .small-text {
        margin-top 10px
    }
    .referenceLink {
        color $teal-logo
        text-decoration underline
    }
}














