/** TABLA DE CONTENIDOS
 *
 * FRAMEWORKS
 * normalize.css................Estandariza los estilos.
 * animate.css..................Colección de animaciones.
 * foundation.css...............Responsive framework
 *
 * BASE
 * _fonts.......................Configuracion de la fuente principal.
 * _base........................Estilos base en los elementos de la pagina.
 * _base_mixins.................Algunos mixins utiles.
 * _base_variables..............Declaracion de variables globales.
 *
 * SECCIONES
 * #main-header.................Contenedor del video del landing page y sus elementos.
 * .content.....................Contenedor principal.
 * .servicios...................Contenedor de los servicios
 * .frase-animada...............Contenedor donde se realiza la animacion de la frase
 * .videos-promocionales........Seccion que contiene videos promocionales
 * .page-foter..................Footer principal de la pagina
 * .about.......................Seccion sobre la empresa
 * .contacto....................Seccion de contacto
 *
 * COMPONENTES
 * .servicio....................Componente que define un servicio
 * .video-container.............Contenedor para videos de youtube
 * .fundador....................Componente para la seccion de about
 * .contacto__item..............Componente para medios de contacto
 * .contact-form................Formulario de la seccion de contacto
 * .contacto-social.............Contenedor de logos de redes sociales
 */

// frameworks imports
@import 'frameworks/foundation-flex.css'
// @import 'frameworks/animate.css'

// Base imports
@import 'base/_fonts'
@import 'base/_base_variables'
@import 'base/_base_mixins'
@import 'base/_base'



// -------------------
// @MAIN-HEADER
// -------------------

#main-header {
    border-bottom 8px solid $purple-logo
    box-sizing content-box
    height 100vh
    overflow hidden
    position relative
    width 100%
    #main-header__bg {
        height 100vh
        position relative
        width 100%
        img {
            height 100%
            position absolute
            top 0px
            left 50%
            max-width none
            transform translate(-50%, 0)
            z-index -1
            @media only screen and (min-device-width : 320px) and (orientation: landscape) {
                height auto
                width 120%
            }
        }
    }
    .main-header__overlayed-bg,
    .main-header__lr-logo,
    .main-header__title,
    .main-header__hand-icon {
        position absolute
        top 0px
    }
    .main-header__overlayed-bg,
    .main-header__lr-logo,
    .main-header__title {
        left 0px
    }
    .main-header__overlayed-bg {
        height 100%
        width 100%
        background rgba(black,.2) url(../img/pattern.png)
        z-index 0
    }
    .main-header__lr-logo {
        width 50%
        max-width 300px
        z-index 1
        @media only screen and (min-device-width : 320px) and (orientation : landscape) {
            width 40%
        }
    }
    .main-header__title {
        color white
        font-weight 300
        margin 0
        text-shadow 0px 1px 1px black
    }
    .main-header__hand-icon {
        background-image url(../img/hand_icon.png)
        background-size 35px 35px
        background-repeat no-repeat
        left calc(50% - 17.5px)
        height 35px
        width 35px
        @media only screen and (min-device-width : 320px) and (orientation : landscape) {
            display none
        }
        @media only screen and (min-width: 1024px) {
            display block
        } 
    }
}



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content {
    width 100%
    background transparent
}



// -------------------
// @FRASE-ANIMADA
// -------------------

.frase-animada {
    background-color white
    display flex
    align-items center
    min-height 100vh
}


// -------------------
// @SERVICIOS
// -------------------

.servicios {
    background-color $blackBG
    padding-left 0
    padding-right 0
    .servicios__titulo {
        color $purple-logo
        margin 0
        text-align left
    }
    .servicios__descripcion {
        color white
        font-weight 300
        margin-bottom 1.5rem
    }
}



// -------------------
// @SERVICIO
// -------------------

.servicio {
    background-size cover
    background-position 50% 50%
    height 250px
    display flex
    align-items center
    flex-direction column
    justify-content center
    position relative
    margin-bottom 10px
    &:active {
        .servicio__titulo {
            color $purple-logo
        }
    }
    .servicio__titulo {
        margin 0
    }
    .servicio__image-filter {
        background-color rgba(black,.6)
        position absolute
        top 0px
        left 0px
        height 100%
        width 100%
        z-index 0
    }
    .servicio__titulo, .servicio__descripcion {
        z-index 1
    }
    .servicio__titulo{
        color white
        line-height 1.3
        font-weight 700
    }
    .servicio__descripcion {
        color white
        text-align center
        width 90%
    }
    @media screen and (min-width: 40em) {
        height 270px
    }
    @media screen and (min-width: 64em) {
        height 300px
        margin 5px
    }
}

.servicio--home-party {
    background-image url(http://lorempixel.com/400/200/nightlife/)
}

.servicio--cocktail-party {
    background-image url(http://lorempixel.com/400/200/city/)
}

.servicio--office-party {
    background-image url(http://lorempixel.com/400/200/business/)
}

.servicio--delivery {
    background-image url(http://lorempixel.com/400/200/fashion/)
}



// -------------------
// @VIDEOS-PROMOCIONALES
// -------------------

.videos-promocionales {
    background-color $silver
    width 100%
}



// -------------------
// @VIDEO-CONTAINER
// -------------------

.youtubevideowrap {
    max-width 640px
    margin 0 auto
    width 80%
}

.video-container {
    position relative
    padding-bottom 56.25%
    padding-top 30px
    height 0
    overflow hidden
    iframe {
        position absolute
        top 0
        left 0
        width 100%
        height 100%
    }
}



// -------------------
// @ABOUT
// -------------------

.about {
    background-color $blackBG
    .about__titulo {
        color $yellow-logo
        margin 0
        text-align left
    }
    .about__descripcion {
        color white
        font-weight 300
    }
}



// -------------------
// @FUNDADOR
// -------------------

.fundador {
    margin-top 30px
    .fundador__img {
        border-radius 4px
        box-shadow 0 2px 2px rgba(black,.5)
        width 100%
    }
    .fundador__name {
        color $yellow-logo
        text-align left
        margin 5px 0 2px 0
    }
    .fundador__pro {
        color white
    }
    @media screen and (min-width: 64em) {
        margin 0
    }
}



// -------------------
// @CONTACTO
// -------------------

.contacto {
    background-color white
    text-align center
    .contacto__titulo {
        @media screen and (min-width: 40em) {
            margin-bottom 1rem   
        }
        @media screen and (min-width: 64em) {
            margin-bottom 4rem
        }
    }
    .contacto__normal-text{
        margin 20px 0
        @media screen and (min-width: 40em) {
            margin-top 2rem   
        }
        @media screen and (min-width: 64em) {
            margin-top 1rem
        }
    }
}



// -------------------
// @CONTACTO-ITEM
// -------------------

.contacto-item {
    margin-top 10px
    .contacto-item__title{
        color $green-logo
        font-weight 400
    }
    @media screen and (min-width: 64em) {
        margin 0
        margin-bottom 2rem
    }

}



// -------------------
// @CONTACT-FORM
// -------------------

.contact-form {
    margin-top 2rem
    text-align left
    margin auto
    max-width 500px
    .contact-form__input,
    .contact-form__text-area {
        color grey
        border 2px solid rgba($green-logo,.7)
        margin-bottom 1rem
        width 100%
    }
    .contact-form__input {
        display block
        line-height 2.5
        padding 0 .5em
    }
    .contact-form__text-area {
        padding .5em
        height 120px
    }
    .contact-form__submit {
        background-color $green-logo
        border none
        color white
        height 35px
        width 100px
        &:hover {
            background-color darken($green-logo, 20%)
        }
    }
    @media screen and (min-width: 40em) {
        margin-top 3rem
    }
    @media screen and (min-width: 64em) {
        margin-top 0
    }
}



// -------------------
// @CONTACTO-SOCIAL
// -------------------

.contacto-social {
    justify-content center
    .contacto-social__item{
        flex none
    }
}



// -------------------
// @PAGE-FOOTER
// -------------------

.page-footer {
    color white
    background-image url(../img/footer.png)
    padding 20px 10px
    text-align center
    .page-footer__logo {
        width 100px
    }
    .terciary-title {
        font-weight 300
        margin 15px 0
    }
    .small-text {
        margin-top 20px
    }
    .contacto-social {
        img {
            max-width 50px
        }
    }
    .referenceLink {
        color $teal-logo
        text-decoration underline
    }
}














