// -------------------
// #ELEMENTS-BASE-STYLES
// -------------------

* {
    box-sizing border-box
}

body {  
    background-color white
    font-size 16px
    font-family 'Lato', sans-serif
    line-height 1.6
    -webkit-font-smoothing: antialiased
    -webkit-text-size-adjust: 100%   
}

a {
    display block
    color inherit
    text-decoration none
}

h1, h2, h3, h4, h5, h6, p, a{
    margin 0
    padding 0
    border 0
    font-size 100%
}

section {
    padding 50px 10px
    @media only screen and (min-width: 768px) {
        padding 80px 50px
    }
}



// -------------------
// #GENERIC-ELEMENTS-STYLES
// -------------------

.titulo-seccion {
    font-size responsive 1.875rem 3.12rem
    font-range 320px 1280px
    margin-bottom 30px
    text-align center
    width 100%
}

.descripcion-seccion {
    font-size responsive 1rem 1.5rem
    font-range 320px 1280px
    width 100%
}