// -------------------
// @GENERIC ANIMATED CLASS HELPERS
// -------------------

.animated {
    animation-duration 1s
    animation-fill-mode both
}

.animated.infinite {
    animation-iteration-count infinite
}



// -------------------
// @FADE-IN-UP-ALBUM
// -------------------

@-webkit-keyframes fadeInUpAlbum {
    0% {
        opacity 0
        transform translateY(30px)
    }
  
    100% {
        opacity 1
        transform translateY(0)
    }
}

.fadeInUpAlbum {
    animation-name fadeInUpAlbum
}



// -------------------
// @SLIDE-DOWN-UP
// -------------------

@keyframes slideDownUp {
    0% {
        transform translateY(0)
    }

    50% {
        transform translateY(-40%)
    }

    100% {
        transform translateY(0)
    }
}

.slideDownUp {
    animation-name slideDownUp
}



// -------------------
// @FADE-IN-UP
// -------------------

@keyframes fadeIn {
    from {
        opacity 0
    }

    to {
        opacity 1
    }
}

.fadeIn {
    animation-name fadeIn
    animation-duration 2s
    animation-fill-mode both
    animation-delay 1s
}



// -------------------
// @WIDTH-LEFT-TO-RIGHT
// -------------------

@keyframes widthLeftToRight {
    from {
        width 0%
    }

    to {
        width 100%
    }
}