// -------------------
// #COMUN VARS
// -------------------

$base-font-size = 16px



// -------------------
// #MAIN MEDIA QUERIES INIT VAR
// -------------------

mediaQ = {
    min-screen-size: 320px
    max-screen-size: 1900px
    small-cutoff: 39.9375em
    medium-cutoff: 40em
    large-cutoff: 64em
    hd-cutoff: 112.5em
    base-font-size: $base-font-size
    density-queries: 'dppx' 'webkit' 'moz' 'dpi'
    retina-density: 1.5
}



// -------------------
// #COLORES BASE
// -------------------

// - frios
$aqua = #7FDBFF
$blue = #0074D9
$navy = #001F3F
$teal = #39CCCC
$green = #2ECC40
$olive = #3D9970
$lime = #01FF70

// - calidos
$yellow = #FFDC00
$orange = #FF851B
$red = #FF4136
$fuchsia = #F012BE
$purple = #B10DC9
$maroon = #85144B

// - escala de grises
$white = #FFF
$silver = #DDD
$gray = #AAA
$darkGray = #333333
$blackBG = #0F0F0F
$blackMed = #141414
$clouds = #ECF0F1
$asbestos = #7F8C8D



// -------------------
// #PALETA DE COLORES
// -------------------

// - Azules
$azul-1 = #053E5D
$azul-2 = #01ABEA
$azul-3 = #3E9EBC
$azul-4 = #3498DB
$azul-5 = #0040A8

// - Verdes
$verde-1 = #4EB8AE
$verde-2 = #A9D1CE

// - Amarillos
$amarillo-1 = #362606
$amarillo-2 = #A8750A
$amarillo-3 = #F5AE1C
$amarillo-4 = #F1BC7B

// - Rojos
$rojo-1 = #5B1818
$rojo-2 = #972D16
$rojo-3 = #E74F36
$rojo-4 = #EF654B
$rojo-5 = #E37C65

// - Grises
$gris-1 = #C4CED0



// -------------------
// #COLORES DEL LOGO
// -------------------

$teal-logo = #00A79D
$gray-logo = #939597
$purple-logo = #9E1E62
$red-logo = #ED1C24
$green-logo = #8CC63E
$yellow-logo = #FBAF3F
$pink-logo = #EC008B



// -------------------
// #INICIO
// -------------------

// - General
$home-primary-color = $azul-3

// - Main header
// $home-header-overlay-color = rgba(black,.2) url('img/assets/pattern.png')
$home-header-overlay-color = url('img/assets/pattern.png')



// -------------------
// #HOME-PARTY
// -------------------

// - General
$home-party-primary-color = $purple-logo



// -------------------
// #PARTY-COCKTAILS
// -------------------

// - General
$party-cocktails-primary-color = $clouds



// -------------------
// #OFFICE-PARTY
// -------------------

// - General
$office-party-primary-color = $amarillo-3


// -------------------
// #MAIN-NAV
// -------------------

$main-nav-bg-color = black
$main-nav-item-color = $asbestos
$main-nav-item-current-color = white
$main-nav-height = 44px
$main-nav-num-items = 5



// -------------------
// #PAGINACION
// -------------------

$paginacion-normal-color = $blackMed
$paginacion-current-color = $home-primary-color
$paginacion-disabled-color = $asbestos


// -------------------
// #RESPONSIVE FONT VARIABLES
// -------------------

// - rangos de pantalla
$min-screen-size = mediaQ.min-screen-size
$max-screen-size = mediaQ.max-screen-size

// max y min para titulos
$big-title-range = 1.8rem 3rem
$section-title-range = 1.5rem 2rem
$item-title-range = 1.2rem 1.7rem
$item-title-big-range = 1.2rem 2rem

// max y min para textos normales
$section-description-range = 1rem 1.2rem
$big-description-range = 1.2rem 1.6rem
$item-description-range = .7rem 1.1rem
$item-description-big-range = .9rem 1.5rem
$normal-text-range = 1rem 1.3rem
$small-text-range = .5rem 1rem