// - Variables imports
@import 'base/_base_variables'



// -------------------
// @MIXINS
// -------------------

// Este es un ejemplo que puedes aplicar a los elementos para poder saber 
// visualmente que area ocupa.
area(color = red, grosor = 1px) {
	border grosor solid color
	box-sizing border-box
}   
 
// Animation delay menu items
animationDelay(numItems) {
    for num in (2..numItems) {
        &:nth-child({num}) {
            delay = num * 0.05
            transition-delay unit(delay, 's')
        }
    }
}



// -------------------
// @FUNCTIONS
// -------------------

// Aspect Ratio
aspect-ratio(width = 16, height = 9) {
    (height / width) * 100%
}
