// - Variables imports
@import 'base/_base_variables'



// -------------------
// @ELEMENTS-BASE-STYLES
// -------------------

* {
    box-sizing border-box
}

a, a:visited, a:hover, a:active {
  color inherit
  text-decoration none
}

h1, h2, h3, h4, h5, h6, p{
    margin 0
    padding 0
    border 0
    font-size 100%
}

h2 {
    font-size responsive $secondary-title-range
    font-range $min-screen-size $max-screen-size
}

h3 {
    font-size responsive $sub-title-range
    font-range $min-screen-size $max-screen-size
}

section {
    padding 50px 0
    @media only screen and (min-width: 768px) {
        padding 80px 50px
    }
}



// -------------------
// @ESTILOS GENERICOS PARA TEXTOS
// -------------------

h1.section-title, h1.big-title, h2.item-title {
    text-align center
    width 100%
}

h1.big-title {
    font-size responsive $big-title-range
    font-range $min-screen-size $max-screen-size
    margin 1rem 0
}

h1.section-title {
    font-size responsive $section-title-range
    font-range $min-screen-size $max-screen-size
    margin 1rem 0
}

h2.item-title {
    font-size responsive $item-title-range
    font-range $min-screen-size $max-screen-size
}

h2.item-title-big {
    font-size responsive $item-title-big-range
    font-range $min-screen-size $max-screen-size
}

p.section-description {
    font-size responsive $section-description-range
    font-range $min-screen-size $max-screen-size
    line-height 1.48
}

p.big-description {
    font-size responsive $big-description-range
    font-range $min-screen-size $max-screen-size
    line-height 1.3
}

p.item-description, p.item-description-big {
    text-transform uppercase
}

p.item-description {
    font-size responsive $item-description-range
    font-range $min-screen-size $max-screen-size
}

p.item-description-big {
    font-size responsive $item-description-big-range
    font-range $min-screen-size $max-screen-size
}

p.small-text {
    font-size responsive $small-text-range
    font-range $min-screen-size $max-screen-size
}

p.normal-text, 
label.normal-text, 
textarea.normal-text, 
input.normal-text,
button.normal-text {
    font-size responsive $normal-text-range
    font-range $min-screen-size $max-screen-size
}




// -------------------
// @GENERAL HELPERS
// -------------------

.overlayed-bg {
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    background-color rgba(black,.4)
    z-index 0
}



// -------------------
// @VERTICAL-RULE
// -------------------

.column.vr {
    @media screen and (min-width: 64em) {
        border-right 1px solid #ddd
    }
}