// -------------------
// #COLORES BASE
// -------------------

// - frios
$aqua = #7FDBFF
$blue = #0074D9
$navy = #001F3F
$teal = #39CCCC
$green = #2ECC40
$olive = #3D9970
$lime = #01FF70

// - calidos
$yellow = #FFDC00
$orange = #FF851B
$red = #FF4136
$fuchsia = #F012BE
$purple = #B10DC9
$maroon = #85144B

// - escala de grises
$white = #FFF
$silver = #DDD
$gray = #AAA
$blackBG = #0F0F0F
$clouds = #ECF0F1
$asbestos = #7F8C8D



// -------------------
// #COLORES DEL LOGO
// -------------------

$teal-logo = #00A79D
$gray-logo = #939597
$purple-logo = #9E1E62
$red-logo = #ED1C24
$green-logo = #8CC63E
$yellow-logo = #FBAF3F
$pink-logo = #EC008B



// -------------------
// #MAIN-NAV
// -------------------

$main-nav-bg-color = black
$main-nav-item-color = white
$main-nav-height = 44px
$main-nav-num-items = 5


// -------------------
// #RESPONSIVE FONT VARIABLES
// -------------------

// - rangos de pantalla
$min-screen-size = 320px
$max-screen-size = 1280px

// max y min para titulos
$big-title-range = 2rem 4rem
$section-title-range = 1.5rem 2rem
$item-title-range = 1.2rem 1.5rem

// max y min para textos normales
$section-description-range = 1rem 1.4rem
$big-description-range = 1.5rem 2rem
$item-description-range = .7rem 1rem
$normal-text-range = 1rem 1.3rem
$small-text-range = .5rem 1rem