// - Variables imports
@import 'base/_base_variables'



// -------------------
// #ELEMENTS-BASE-STYLES
// -------------------

* {
    box-sizing border-box
}

a, a:visited, a:hover, a:active {
  color inherit
  text-decoration none
}

h1, h2, h3, h4, h5, h6, p{
    margin 0
    padding 0
    border 0
    font-size 100%
}

h1 {
    font-size responsive $main-title-range
    font-range $min-screen-size $max-screen-size
}

h2 {
    font-size responsive $secondary-title-range
    font-range $min-screen-size $max-screen-size
}

h3 {
    font-size responsive $tertiary-title-range
    font-range $min-screen-size $max-screen-size
}

h4 {
    font-size responsive $sub-title-range
    font-range $min-screen-size $max-screen-size
}

section {
    padding 50px 0
    @media only screen and (min-width: 768px) {
        padding 80px 50px
    }
}



// -------------------
// #ESTILOS GENERICOS PARA TEXTOS
// -------------------

h1.main-title, h2.secondary-title, h3.terciary-title {
    text-align center
    width 100%
}

h1.main-title {
    margin-bottom 1rem
}

h1.main-title--big {
    font-size responsive $main-title-big-range
    font-range $min-screen-size $max-screen-size
}

h2.secondary-title {
    margin-bottom 1rem
}

h3.terciary-title {
    margin-bottom 0.2rem
}

h4.sub-title {
    text-transform uppercase
    font-weight 300
}

p.main-description {
    font-size responsive $main-description-range
    font-range $min-screen-size $max-screen-size
    line-height 1.48
}

p.secondary-description {
    font-size responsive $secondary-description-range
    font-range $min-screen-size $max-screen-size
    text-transform uppercase
}

p.normal-text, 
label.normal-text, 
textarea.normal-text, 
input.normal-text {
    font-size responsive $normal-text-range
    font-range $min-screen-size $max-screen-size
}

p.small-text {
    font-size responsive $small-text-range
    font-range $min-screen-size $max-screen-size
}



// -------------------
// #GENERAL HELPERS
// -------------------

.overlayed-bg {
    position absolute
    top 0px
    left 0px
    width 100%
    height 100%
    background-color rgba(black,.4)
    z-index 0
}



// -------------------
// #BUTTONS
// -------------------

.btn {
    border none
    background none
    cursor pointer
    padding 20px 40px
    display inline-block
    text-transform uppercase
    letter-spacing 1px
    font-weight 700
    outline none
    position relative
    transition all 0.3s
    &:after {
        content ''
        position absolute
        z-index -1
        transition all 0.3s
    }
}

.btn-1 {
    border 3px solid #fff
    color #fff
}

.btn-1b {
    &:after {
        width 100%
        height 0
        top 0
        left 0
        background #fff
    }
    &:hover,
    &:active {
        color #0e83cd
    }
    &:hover:after,
    &:active:after {
        height 100%
    }
}



// -------------------
// #VERTICAL-RULE
// -------------------

.column.vr {
    @media screen and (min-width: 64em) {
        border-right 1px solid #ddd
    }
}