// -------------------
// @ALBUM
// -------------------

.album {
    box-shadow 0 2px 2px 1px rgba(black,.3)
    cursor pointer
    margin auto
    overflow hidden
    padding-top aspect-ratio(16,9)
    position relative
    &, .album__title, .album__date {
        transition 0.3s ease-out-cubic
    }
    .album__title {
        background rgba(29,29,33,.7)
        bottom 0
        color white
        left 0
        padding 5px 10px
        position absolute
        width 100%
    }
    .album__date {
        background rgba(white,.7)
        color $blackBG
        padding 2px 20px
    }
    &:hover {
        transform scale(1.02)
        .album__title {
            background rgba(29,29,33,1)
        }
        .album__date {
            background rgba(white,1)
        }
    }
}
