// - Base imports
@import 'base/_base_variables'
@import 'base/_base_mixins'



// -------------------
// @FRASE-ANIMADA
// -------------------

.frase-animada {
    display flex
    align-items center
    min-height 100vh
}