// -------------------
// @FRASE-ANIMADA
// -------------------

.frase-animada {
    display flex
    align-items center
    min-height 100vh
    padding 10px
    @media screen and (min-width: 40em) {
        padding 50px
    }
    @media screen and (min-width: 64em) {
        padding 100px
    }
}