// - Base imports
@import 'base/_base_variables'
@import 'base/_base_mixins'



// -------------------
// @FRASE-ANIMADA
// -------------------

.frase-animada {
    display flex
    align-items center
    min-height 100vh
}

.frase-animada--home-party {
    background-color $blackMed
    h1 {
        color white
    }
}