// -------------------
// @FUNDADOR
// -------------------

.fundador {
    padding 10px 0
    max-width 250px
    margin-left auto
    margin-right auto
    .fundador__img {
        border-radius 3px
        box-shadow 0 2px 2px rgba(black,.5)
        width 100%
    }
    .fundador__name {
        color $home-primary-color
        padding 5px 0 2px 0
    }
    .fundador__pro {
        color $blackMed
        text-align center
        font-weight 300
    }
}

