// -------------------
// @PAGE-FOOTER
// -------------------

.page-footer {
    color white
    background-image url('img/assets/footer.png')
    padding 20px 10px
    text-align center
    position relative
    .page-footer_overlay {
        background linear-gradient(to bottom, $blackBG 0%,$blackMed 20%,rgba($blackMed,0) 80%)
        position absolute
        top 0
        left 0
        height 100%
        width 100%
        z-index 0
    }
    .page-footer__text, 
    .page-footer__logo,
    .small-text,
    .social-links {
        position relative
        z-index 1
    }
    .page-footer__text {
        padding 10px 0
        .item-title-big {
            padding 5px 0
        }
    }
    .social-links {
        padding 20px 0
    }
    .page-footer__logo,
    .small-text {
        padding 5px 0
    }
    .page-footer__logo {
        width 100px
    }
    .referenceLink {
        color $teal-logo
        text-decoration underline
    }
    @media screen and (min-width: 40em) {
        .page-footer_overlay {
            background linear-gradient(to bottom, $blackBG 0%,$blackMed 40%,rgba($blackMed,0) 80%)
        }
        .page-footer__text {
            padding 40px 0
            .item-title-big {
                padding 20px 0
            }
        }
        .social-links {
            padding 0 0 30px 0
        }
        .page-footer__logo,
        .small-text {
            padding 10px 0
        }
    }
    @media screen and (min-width: 64em) {
        .page-footer_overlay {
            background linear-gradient(to bottom, $blackBG 0%,$blackMed 60%,rgba($blackMed,0) 90%)
        }
    }
}