// -------------------
// @SECTION-HEADER
// -------------------

.section-header {
    opacity 0 // initial for animation
    background-color black
    background-attachment fixed
    box-sizing content-box
    display flex
    flex-direction column
    justify-content center
    min-height 100vh
    overflow hidden
    padding 0 15px
    position relative
    animation-duration 3s
    animation-delay 0.1s
    animation-timing-function cubic-bezier(0.08,0.51,0.81,0.99)
    .section-header__overlayed-bg {
        position absolute
        top 0px
        left 0px
        width 100%
        height 100%
        background-image url(img/assets/pattern.png)
        background-color rgba(black,.1)
        z-index 0
    }
    .section-header__title,
    .section-header__description,
    .section-header__hand-icon {
        animation-duration 1s
        flex 0 1 auto
        z-index 1
    }
    .section-header__title,
    .section-header__description {
        opacity 0 // initial for animation
        color white
        text-align center
    }
    .section-header__title {
        font-weight 700
        margin 0px
        padding-bottom 10px
        animation-delay 2s
        animation-timing-function ease-in
    }
    .section-header__description {
        font-weight 300
        animation-delay 2s
        animation-timing-function ease-out
    }
    .section-header__hand-icon {
        opacity 0
    }
    &:after {
        content ''
        display block
        position absolute
        left 0px
        bottom 0px
        height 7px
        animation-duration 2s
        animation-fill-mode forwards
        animation-timing-function ease-in-out
        animation-delay 2s
    }
    &--compressed {
        min-height 0
        height 370px
        background-attachment scroll
    }
    @media screen and (max-width: 39.9375em) {
        padding-top $main-nav-height
        padding-bottom 20px
        .section-header__hand-icon {
            display none
        }
    }
    @media screen and (min-width: 40em) {
        align-items flex-start
        padding 0px 50px
        .section-header__title, .section-header__description {
            text-align left
            width 80%
        }
    }
}

// - si es ios cambiar la propiedad para que funcione
.ios .section-header {
    background-attachment scroll
}

// - animar contenido del header cuando este listo
.section-header.loaded {
    animation-name fadeInUpHeader
    &,
    .section-header__title,
    .section-header__description {
        animation-fill-mode both
    }
    .section-header__title {
        animation-name fadeInLeft
    }
    .section-header__description {
        animation-name fadeInRight
    }
    &:after {
        animation-name widthLeftToRight
    }
}
