// - Base imports
@import 'base/_base_animations'
@import 'base/_base_variables'
@import 'base/_base_mixins'



// -------------------
// @SECTION-HEADER
// -------------------

.section-header {
    background-color black
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
    box-sizing content-box
    display flex
    flex-direction column
    justify-content center
    height 100vh
    overflow hidden
    padding 0px 15px
    position relative
    .section-header__overlayed-bg {
        position absolute
        top 0px
        left 0px
        width 100%
        height 100vh
        background-image url(img/assets/pattern.png)
        background-color rgba(black,.1)
        z-index 0
    }
    .section-header__title, .section-header__description {
        color white
        flex 0 1 auto
        text-align center
        z-index 1
    }
    .section-header__title {
        font-weight 700
        margin 0px   
    }
    .section-header__description {
        font-weight 300
    }
    &:after {
        content ''
        display block
        position absolute
        left 0px
        bottom 0px
        height 7px
        animation-name widthLeftToRight
        animation-duration 2s
        animation-fill-mode forwards
        animation-timing-function ease-in-out
        animation-delay 2s
    }
    @media screen and (min-width: 40em) {
        align-items flex-start
        padding 0px 50px
        .section-header__title, .section-header__description {
            text-align left
        }
    }
}

// - Home-party section-header
.section-header--home-party {
    background-image url(img/home-party/fondo_home_party-header.jpg)
    &:after {
        background-color $yellow-logo
    }
}

// - party-cocktail section-header
.section-header--party-cocktail {
    background-image url(img/home-party/fondo_home_party-header.jpg)
    &:after {
        background-color $purple-logo
    }
}