
// @SERVICIO-CONTENT-GROUP
// -------------------

.servicio-content-group {
    .overlayed-bg {
        background-image url(img/assets/pattern.png)
        background-color rgba(black,.1)
    }
    .servicio-content-group__header {
        min-height 80vh
        .servicio-content-group__header__titulo {
            font-weight 700
            color $office-party-primary-color
        }
        .servicio-content-group__header__descripcion {
            font-weight 300
        }
        @media screen and (min-width: 40em) {
            min-height 40vh
        }
        @media screen and (min-width: 64em) {
            min-height 70vh
        }
    }
    .servicio-content-group__item {
        min-height 30vh
        @media screen and (min-width: 64em) {
            min-height 40vh
        }
    }
}