// -------------------
// @SERVICIO-CONTENT-ITEM
// -------------------

.servicio-content-item {
    color white
    padding-top aspect-ratio(4,3)
    position relative
    p, h1, h2 {
        flex none
        z-index 1
    }
    .overlayed-bg {
        background-image url(img/assets/pattern.png)
        background-color rgba(black,.2)
    }
    .content-wrapper {
        display flex
        flex-direction column
        height 100%
        justify-content flex-end
        left 0px
        padding 10px
        position absolute
        top 0px
        width 100%
        @media screen and (min-width: 40em) {
            padding 20px 50px 20px 20px
        }
        @media screen and (min-width: 64em) {
            padding 30px 70px 30px 30px
        }
    }
    .servicio-content-item__titulo {
        font-weight bold
    }
    .servicio-content-item__descripcion {
        margin 0px
        text-align left
        font-weight 300
        max-width 900px
    }
    @media screen and (min-width: 40em) {
        padding-top aspect-ratio(16,9)
    }
}

.servicio-content-item--center {
    .content-wrapper {
        justify-content center
        align-items center
        padding 50px 20px
    }
    .servicio-content-item__titulo {
        padding-bottom 10px
    }
    .servicio-content-item__descripcion {
        text-align center
        max-width none
        @media screen and (min-width: 40em) {
            padding-left 50px
            padding-right 50px
        }
        @media screen and (min-width: 64em) {
            padding-left 150px
            padding-right 150px
        }
        @media screen and (min-width: 120em) {
            padding-left 450px
            padding-right 450px
        }
    }
}
