// -------------------
// @SERVICIO-CONTENT-ITEM
// -------------------

.servicio-content-item {
    display flex
    flex-direction column
    justify-content flex-end
    color white
    min-height 50vh
    padding 0px 20px 20px 20px
    position relative
    p, h1, h2 {
        flex none
        z-index 1
    }
    .overlayed-bg {
        background-image url(img/assets/pattern.png)
        background-color rgba(black,.1)
    }
    .item-description-big {
        color $home-party-primary-color
        font-weight 400
    }
    .big-description {
        margin 0px
        text-align left
        font-weight 300
        max-width 900px
    }
    @media screen and (min-width: 40em) {
        min-height 70vh
        padding 0px 40px 40px 40px
    }
    @media screen and (min-width: 64em) {
        min-height 100vh
    }
}

.servicio-content-item--center {
    justify-content center
    align-items center
    padding 50px
    text-align center
    .item-title-big {
        padding-bottom 20px
    }
    .item-description {
        @media screen and (min-width: 40em) {
            padding-left 50px
            padding-right 50px
        }
        @media screen and (min-width: 64em) {
            padding-left 150px
            padding-right 150px
        }
    }
}