// - Base imports
@import 'base/_base_variables'
@import 'base/_base_mixins'



// -------------------
// @SERVICIO
// -------------------

.servicio {
    background-size cover
    background-position 50% 50%
    height 40vh
    display flex
    align-items center
    flex-direction column
    justify-content center
    position relative
    &:hover {
        .servicio__titulo {
            color $purple-logo
        }
    }
    &:active {
        .servicio__titulo {
            color $purple-logo
        }
    }
    .servicio__titulo {
        margin 0
        transition 0.3s color
    }
    .servicio__image-filter {
        background-color rgba(black,.6)
        position absolute
        top 0px
        left 0px
        height 100%
        width 100%
        z-index 0
    }
    .servicio__titulo, .servicio__descripcion {
        z-index 1
    }
    .servicio__titulo{
        color white
        line-height 1.3
        font-weight 700
    }
    .servicio__descripcion {
        color white
        text-align center
        width 90%
    }
    // @media screen and (min-width: 40em) {
    //     height 270px
    // }
    // @media screen and (min-width: 64em) {
    //     height 300px
    //     margin 5px
    // }
}

.servicio--home-party {
    background-image url(http://lorempixel.com/400/200/nightlife/)
}

.servicio--cocktail-party {
    background-image url(http://lorempixel.com/400/200/city/)
}

.servicio--office-party {
    background-image url(http://lorempixel.com/400/200/business/)
}

.servicio--delivery {
    background-image url(http://lorempixel.com/400/200/fashion/)
}