// -------------------
// @SOCIAL-PLUGINS
// -------------------

.widget-content {
    padding-top 20px
    padding-bottom 20px
}

.lightwidget-widget {
    border 0
    overflow hidden
    width 100%
    position relative
}