/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .page-content--cocktail-box...Contenedor general de la pagina
 *
 * COMPONENTES
 *
 */
 


// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--cocktail-box {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .servicio-content-item {
        .servicio-content-item__titulo {
            color $cocktail-box-primary-color
        }
        .servicio-content-item__descripcion {
            a {
                text-decoration underline
                color $cocktail-box-primary-color
            }
        }
    }
    .section-header {
        &:after {
            background-color $cocktail-box-primary-color
        }
    }
    .item-divider:last-child {
        background-color $blackBG
    }
    @media screen and (max-width: 39.9375em) {
        .column.small-12 {
            .servicio-content-item {
                padding-top aspect-ratio(9,13)
            }
        }
    }
}
