/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 *
 * COMPONENTES
 *
 */
 


// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--cocktail-box {
    background-color $blackBG
    display flex
    justify-content center
    align-items center
    img {
        padding 10px
    }
}