// -------------------
// @CONTACTO
// -------------------

.page-content--contacto {
}

.contacto {
    background white url('img/assets/square_bg_@2X.png')
    text-align center
    .row {
        margin 0
    }
    .contacto__titulo {
        @media screen and (min-width: 40em) {
            margin-bottom 1rem
        }
        @media screen and (min-width: 64em) {
            margin-bottom 4rem
        }
    }
    .contacto__normal-text{
        padding 20px 0
        @media screen and (min-width: 40em) {
            padding 1.5rem 0
        }
        @media screen and (min-width: 64em) {
            padding 1rem 0
        }
    }
    .contacto__item {
        padding 10px 0
        h2 {
            color $green-logo
            font-weight 400
        }
        @media screen and (min-width: 64em) {
            padding 1rem 0
        }
    }
    .contact-form {
        margin-top 2rem
        @media screen and (min-width: 40em) {
            margin-top 3rem
        }
        @media screen and (min-width: 64em) {
            margin-top 0
        }
    }
}
