/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .frase-reserva...............Texto del final
 *
 * COMPONENTES
 * .item-divider.............Bloque horizontal que divide la secripcion de los servicion
 */
 


// - Base imports
@import 'base/_base_variables'
@import 'base/_base_mixins'



.item-divider {
    background-color $blackMed
    height 20vh
    width 100%
}

// -------------------
// @FRASE-RESERVA
// -------------------

.frase-reserva {
    background-color $blackMed
    color white
    p {
        text-align center
        &:first-child {
            margin-bottom 20px
        }
    }
}