/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .frase-reserva...............Texto del final
 *
 * COMPONENTES
 *
 */



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--home-party {
    .frase-animada {
        background-color $blackMed
        h1 {
            color white
        }
    }
    .item-divider {
        background-color $blackMed
    }
}



// -------------------
// @FRASE-RESERVA
// -------------------

.frase-reserva {
    background-color $blackMed
    color white
    min-height 100vh
    p {
        text-align center
        padding 20px 10px
    }
    .big-description {
        color $yellow-logo
        font-weight 400
    }
}