/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .frase-reserva...............Texto del final
 *
 * COMPONENTES
 *
 */



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--home-party {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .btn-sliding-bg {
        &:hover {
            color $home-party-primary-color
        }
    }
    .servicio-content-item {
        .servicio-content-item__titulo {
            color $home-party-primary-color
        }
    }
    .item-divider:last-child {
        background-color $blackBG
    }
    .section-header {
        &:after {
            background-color $home-party-primary-color
        }
    }
}



// -------------------
// @FRASE-RESERVA
// -------------------

.frase-reserva {
    background-color $clouds
    color $blackMed
    min-height 70vh
    padding-left 20px
    padding-right 20px
    p {
        font-weight 300
        text-align center
    }
    @media screen and (min-width: 64em) {
        min-height 80vh
    }
}
