/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * #main-header.................Contenedor del video del landing page y sus elementos.
 * .content.....................Contenedor principal.
 * .servicios...................Contenedor de los servicios del home
 * .videos-promocionales........Seccion que contiene videos promocionales
 * .galeria.....................Seccion que contiene la galeria de imagenes
 * .about.......................Seccion sobre la empresa
 */



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--inicio {
    .frase-animada {
        background $home-header-overlay-color
        border-bottom 7px solid $home-primary-color
        display block
        min-height 90vh
        padding 100px 0 300px 0
        h1 {
            color white
        }
        @media screen and (min-width: 40em) {
            padding 200px 0 400px 0
        }
    }
}



// -------------------
// @MAIN-HEADER
// -------------------

#main-header {
    box-sizing content-box
    height 100vh
    overflow hidden
    position relative
    width 100%
    #main-header__bg {
        height 100vh
        position relative
        position fixed
        width 100%
        z-index -1
        .img-bg {
            background black url('../img/inicio/inicio-header-bg.jpg') 50% 50% no-repeat
            background-size cover
            height 100%
            width 100%
            position absolute
            top 0px
            z-index -1
        }
    }
    .main-header__overlayed-bg,
    .main-header__lr-logo,
    .main-header__title,
    .main-header__hand-icon {
        position absolute
        top 0px
    }
    .main-header__overlayed-bg,
    .main-header__lr-logo,
    .main-header__title {
        left 0px
    }
    .main-header__overlayed-bg {
        height 100%
        width 100%
        background $home-header-overlay-color
        z-index 0
    }
    .main-header__lr-logo {
        opacity 0 // estado inicial antes de que se posicione en pantalla
        width 50%
        max-width 300px
        z-index 1
        animation-duration 2s
        animation-fill-mode both
        animation-delay 1s
        @media only screen and (min-device-width : 320px) and (orientation : landscape) {
            width 40%
        }
    }
    .main-header__hand-icon {
        animation-duration 1s
        opacity 0 // estado inicial antes de que se posicione en pantalla
        left calc(50% - 25px)
        cursor pointer
    }
}



// -------------------
// @SERVICIOS
// -------------------

.servicios {
    background-color $blackMed
    .servicios__titulo {
        color white
        margin 0
    }
    .servicios__descripcion {
        color white
        font-weight 300
        margin-bottom 1.5rem
        text-align center
    }
    .row {
        .column {
            padding 5px
        }
    }
}



// -------------------
// @GALERIA
// -------------------

.galeria {
    background-color $clouds
    // background linear-gradient(to top, white 30%, $silver 100%)
    .section-title,
    .section-description {
        color $blackMed
    }
    .section-title {
        margin 0
    }
    .section-description {
        text-align center
        font-weight 300
    }
    .photo-albums {
        .column {
            padding 0.625rem   
        }
    }
}



// -------------------
// @VIDEOS-PROMOCIONALES
// -------------------

.videos-promocionales {
    background-color lighten($home-primary-color, 70%)
    // background linear-gradient(to bottom, white 30%, $silver 100%)
    width 100%
    padding-left 10px
    padding-right 10px
    .plyr {
        @media screen and (max-width: 425px) {
            .plyr__controls {
                display none
            }
        }
    }
    @media screen and (min-width: 590px) {
        padding-left 20px
        padding-right 20px
    }    
    @media screen and (min-width: 40em) {
        padding-left 0
        padding-right 0
    }
}



// -------------------
// @ABOUT
// -------------------

.about {
    background-color $clouds
    .about__titulo {
        color $blackMed
        margin 0
    }
    .about__descripcion {
        color $blackMed
        font-weight 300
        padding-bottom 1.5rem
        text-align center
    }
    @media screen and (min-width: 40em) {
        & > .column > .column:first-child .fundador {
            margin-right 0
            margin-left auto
        }
        & > .column > .column:last-child .fundador {
            margin-left 0
            margin-right auto
        }
    }
}