/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 *
 * COMPONENTES
 *
 */
 


 // -------------------
// @PAGE-CONTENT
// -------------------

.page-content--office-party {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .servicio-content-item {
        .item-description-big {
            color $office-party-primary-color
        }
    }
    .column.medium-6 {
        .servicio-content-item {
            .item-description-big {
                color white
            }
        }
    }
    .item-divider:last-child {
        background-color $blackBG
    }
    @media screen and (max-width: 39.9375em) {
        .servicio-content-item.servicio-content-item--center {
            padding-top aspect-ratio(9,13)
        }
        .column.medium-6 {
            .servicio-content-item {
                padding-top aspect-ratio(21,9)
            }
        }
    }
}
