/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 *
 * COMPONENTES
 *
 */
 


 // -------------------
// @PAGE-CONTENT
// -------------------

.page-content--office-party {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .servicio-content-item--center {
        h2 {
            color $office-party-primary-color
        }
    }
}