/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 *
 * COMPONENTES
 *
 */
 


 // -------------------
// @PAGE-CONTENT
// -------------------

.page-content--office-party {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .servicio-content-item {
        .overlayed-bg {
            background-color rgba($azul-5,.1)
        }
    }
    .servicio-content-item:not(.servicio-content-group__item) {
        .item-description-big {
            color $office-party-primary-color
        }
    }
    .item-divider:last-child {
        background-color $blackBG
    }
}