/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .page-content--office-festival...Contenedor general de la pagina
 *
 * COMPONENTES
 *
 */



// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--office-festival {
    &,
    .frase-animada,
    .items-wrapper,
    .item-divider {
        background-color $blackMed
    }
    .frase-animada {
        h1 {
            color white
        }
    }
    .items-wrapper {
        padding 0
    }
    .btn-sliding-bg {
        &:hover {
            color $office-festival-primary-color
        }
    }
    .servicio-content-item {
        .servicio-content-item__titulo {
            color $office-festival-primary-color
        }
        .servicio-content-item__descripcion {
            a {
                text-decoration underline
                color $office-festival-primary-color
            }
        }
    }
    .section-header {
        &:after {
            background-color $office-festival-primary-color
        }
    }
    .item-divider:last-child {
        background-color $blackBG
    }
    @media screen and (max-width: 39.9375em) {
        .servicio-content-item.fixed {
            padding-top aspect-ratio(9,13)
        }
        .column.medium-6 {
            .servicio-content-item.fixed {
                padding-top aspect-ratio(21,9)
            }
        }
    }
}
