/** TABLA DE CONTENIDOS
 *
 * SECCIONES
 * .page-content--party-cocktails...Contenedor general de la pagina
 *
 * COMPONENTES
 * .half............................Componente que describe cada coctel junto con su imagen
 */
 


// -------------------
// @PAGE-CONTENT
// -------------------

.page-content--party-cocktails {
    .frase-animada {
        h1 {
            color $blackMed
            padding 0 10px
            @media screen and (min-width: 40em) {
                padding 0 50px
            }
        }
    }
    .item-divider {
        background-color white
    }
}



// -------------------
// @HALF
// -------------------

.half {
    background-color $clouds
    .half__description {
        padding 20px
        .section-title, .normal-text {
            margin 0
            padding 5px 0
        }
        .section-title {
            color $blackBG
            text-align left
            font-weight 700
        }
        .normal-text {
            color $asbestos
            font-weight 300
        }
    }
    .half__image {
        height 50vh
    }
    @media screen and (min-width: 40em) {
        height 60vh
        .half__description {
            display flex
            flex-direction column
            justify-content center
            .section-title, .normal-text {
                padding 10px 0
                width 100%
            }
        }
        .half__image {
            height 100%
        }
    }
    @media screen and (min-width: 64em) {
        height 80vh
        .half__description {
            padding 50px
        }
    }
}